/*Estilo do Body*/
body{
    background-color: #f5f5f5;
}

/*Estilo da Navbar*/
.navbar{
    background-color: #2c3e50;
}

/* Estilo para todos os cards */
.card {
    border-radius: 10px; /* Bordas arredondadas */
    overflow: hidden; /* Oculta o conteúdo que ultrapassa as bordas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para criar profundidade */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave para hover */
    margin-bottom: 20px; /* Espaçamento inferior entre os cards */
    max-height:175px; /* Define a altura máxima */
    min-height:175px; /* Define a altura máxima */
}

/* Efeito de hover para os cards */
.card:hover:not(.fechado) {
    transform: translateY(-5px); /* Leve elevação no hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra mais intensa no hover */
}

/* Estilos específicos para as classes de prioridade */
.importante {
    background-color: yellow; /* Fundo amarelo */
    color: #333; /* Texto escuro para contraste */
}

.urgente {
    background-color: red; /* Fundo vermelho */
    color: #fff; /* Texto branco para contraste */
}

.fila {
    background-color: green; /* Fundo verde */
    color: #fff; /* Texto branco para contraste */
}

.fechado{
    opacity: 0.5; 
}

/* Estilo para o cabeçalho do card */
.card-header {
    font-size: 1.25rem; /* Tamanho da fonte maior para o cabeçalho */
    font-weight: bold; /* Negrito */
    padding: 10px 15px; /* Espaçamento interno */
    border-bottom: 1px solid #ddd; /* Linha separadora */
}

/* Estilo para o corpo do card */
.card-body {
    padding: 15px; /* Espaçamento interno */
    font-size: 1rem; /* Tamanho da fonte padrão */
}

/* Estilo para o texto do card */
.card-text {
    margin: 0; /* Remove margem padrão */
}

/* Estilo para os botões */
.btn {
    border-radius: 5px; /* Bordas arredondadas dos botões */
    padding: 10px 15px; /* Espaçamento interno */
    font-size: 0.875rem; /* Tamanho da fonte dos botões */
}

/* Estilo específico para os botões de ação */
.btn-danger {
    background-color: #dc3545; /* Vermelho para o botão de excluir */
    border: none; /* Remove borda */
}

.btn-danger:hover {
    background-color: #c82333; /* Tom de vermelho mais escuro no hover */
}

.btn-success {
    background-color: #28a745; /* Verde para o botão de abrir */
    border: none; /* Remove borda */
}

.btn-success:hover {
    background-color: #218838; /* Tom de verde mais escuro no hover */
}

main{
    margin-bottom: 100px;
}